h1{
    color:firebrick;
    text-align: center;
}
#total{
    width: 1000px;
    height: auto;  
    margin: auto;
}
#topo{
    width: 1000px;
    height: 100px;
    background-color: black;   
}